<h1>ADMIN</h1>
<% station = Station.find(@id) %>
<h1><%= station.name() %></h1>

<h3>Lines at this station:</h3>
<% if station.lines().any?() %>
  <ul>
  <% station.lines().each() do |line| %>
    <li><a href="/admin/lines/<%= line.id() %>"><%= line.name() %></a></li>
  <% end %>
  </ul>
<% else %>
  This station will not allow you to go anywhere.
<% end %>

<hr>

<h2>Add line:</h2>
<form action="/stations/<%= @id %>" method="POST">
  <div class="form-group">
    <select class = "form-control" id="line_id" name="line_id">
      <option value='' disabled selected style='display:none'>Please Choose</option>
      <% Line.all().each() do |line| %>
        <option value="<%= line.id() %>"><%= line.name() %></option>
      <% end %>
    </select>
  </div>
  <button type="submit" class="button button-add">Add Line</button>
</form>

<hr>

<h2>Remove line:</h2>
<form action="/stations/<%= @id %>" method="POST">
  <input name="_method" type="hidden" value="delete">
  <div class="form-group">
    <select class = "form-control" id="line_id" name="line_id">
      <option value='' disabled selected style='display:none'>Please Choose</option>
      <% station.lines().each() do |line| %>
        <option value="<%= line.id() %>"><%= line.name() %></option>
      <% end %>
    </select>
  </div>
  <button type="submit" class="button button-delete">Remove Line</button>
</form>

<hr>

<h2>Change station name:</h2>
<form action="/stations/<%= @id %>" method="POST">
  <input name="_method" type="hidden" value="patch">
  <div class="form-group">
    <label class = "form-label" for="station_name">Enter new name:</label>
    <input class = "form-control" id="station_name" name="station_name" class="form-control" type="text">
  </div>
  <button type="submit" class="button button-edit">Change name</button>
</form>

<hr>
<a href="/admin">Back</a>
