<h1>ADMIN</h1>
<% line = Line.find(@id) %>
<h1><%= line.name() %></h1>

<h3>This line serves the following stations:</h3>
<% if line.stations().any?() %>
  <ul>
  <% line.stations().each() do |station| %>
    <li><a href="/admin/stations/<%= station.id() %>"><%= station.name() %></a></li>
  <% end %>
  </ul>
<% else %>
  This line goes nowhere.
<% end %>

<hr>

<h2>Add Stop:</h2>
<form action="/lines/<%= @id %>" method="POST">
  <div class="form-group">
    <select class = "form-control" id="station_id" name="station_id">
      <option value='' disabled selected style='display:none'>Please Choose</option>
      <% Station.all().each() do |station| %>
        <option value="<%= station.id() %>"><%= station.name() %></option>
      <% end %>
    </select>
  </div>
  <button type="submit" class="button button-add">Add station</button>
</form>

<hr>

<h2>Remove Stop:</h2>
<form action="/lines/<%= @id %>" method="POST">
  <input name="_method" type="hidden" value="delete">
  <div class="form-group">
    <select class = "form-control" id="station_id" name="station_id">
      <option value='' disabled selected style='display:none'>Please Choose</option>
      <% line.stations().each() do |station| %>
        <option value="<%= station.id() %>"><%= station.name() %></option>
      <% end %>
    </select>
  </div>
  <button type="submit" class="button button-delete">Remove Stop</button>
</form>

<hr>

<h2>Change line name:</h2>
<form action="/lines/<%= @id %>" method="POST">
  <input name="_method" type="hidden" value="patch">
  <div class="form-group">
    <label class = "form-label" for="line_name">Enter new name:</label>
    <input class = "form-control" id="line_name" name="line_name" class="form-control" type="text">
  </div>
  <button type="submit" class="button button-edit">Change name</button>
</form>

<hr>

<a href="/admin">Back</a>
