<h1>ADMIN</h1>
<% line = Line.find(@id) %>
<h1><%= line.name() %></h1>

<h3>This line services the following stations:</h3>
<% if line.stations().any?() %>
  <ul>
  <% line.stations().each() do |station| %>
    <li><a href="/admin/stations/<%= station.id() %>"><%= station.name() %></a></li>
  <% end %>
  </ul>
<% else %>
  This line goes nowhere.
<% end %>

<hr>

<h2>Add Stop:</h2>
<form action="/lines/<%= @id %>" method="POST">
  <div class="form-group">
    <label class = "form-label" for="station_id">Choose stop to add for this line:</label>
    <select class = "form-control" id="station_id" name="station_id">
      <% Station.all().each() do |station| %>
        <option value="<%= station.id() %>"><%= station.name() %></option>
      <% end %>
    </select>
  </div>
  <button type="submit" class="btn btn-success">Add station</button>
</form>

<hr>

<h2>Remove Connection:</h2>
<form action="/lines/<%= @id %>" method="POST">
  <input name="_method" type="hidden" value="delete">
  <div class="form-group">
    <label class = "form-label" for="station_id">Choose stop to remove:</label>
    <select class = "form-control" id="station_id" name="station_id">
      <% line.stations().each() do |station| %>
        <option value="<%= station.id() %>"><%= station.name() %></option>
      <% end %>
    </select>
  </div>
  <button type="submit" class="btn btn-success">Remove Stop</button>
</form>

<hr>

<a href="/admin">Back</a>
